.list {
  height: 565px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 5px solid black;
  width: 100%;

  @include custom_slider;

  .film-box {
    font-size: 12px;
    padding: 5px 10px;
    border-bottom: 2px solid black;

    span {
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .film-data {
      display: flex;
      flex-direction: column;
    }

    .box-row {
      display: flex;
      justify-content: space-between;
    }

    .delete-film {
      height: 20px;
    }
  }

  .list-message {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #list-message-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    height: 100%;
    padding-bottom: 15px;
  }

  #delete-verification-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    height: 100%;

    .delete-actions {
      display: flex;
      padding-top: 15px;
      justify-content: space-evenly;
    }

    .list-message {
      height: auto;
    }
  }
}