body {
  background-color: $body-background;
}

.wrapper {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.fancy-box {
  background-color: $home-background;
  border: black 5px solid;
  border-radius: 40px !important;
  padding: 50px !important;
  box-shadow: 10px 10px 5px black;
}
